#label-name{
    float: left;
}
#label-index{
    float: left;
    margin-left: 10%
}
#label-duration{
    float: left;
    margin-left: 10%
}
#label-total{
    float: left;
    margin-left: 10%
}
#action-index{
    float: left;
    margin-left: 10%
}
#action-duration{
    float: left;
    margin-left: 10%
}
#action-total{
    float: left;
    margin-left: 10%
}
#action-event{
    float: left;
    margin-left: 10%
}